spring:
  # Security (resource server)
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/job-app
          jwk-set-uri: http://keycloak:8080/realms/job-app/protocol/openid-connect/certs
  #RabbitMQ
  rabbitmq:
    host: rabbitmq
    username: guest
    password: guest
    port: 5672

  # Redis
  data:
    redis:
      host: redis
      port: 6379

# EUREKA
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}

server:
  port: 8086

#Actuator
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
    prometheus:
      access: unrestricted
    metrics:
      access: unrestricted


# Zipkin
  tracing:
    sampling:
      probability: 1.0
    export:
      zipkin:
        endpoint: http://zipkin:9411/api/v2/spans

# Logs
logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-history: 7
      max-file-size: 12MB
  level:
    root: info
    org.springframework.cloud.gateway.route.RouteDefinitionLocator: INFO
    org.springframework.cloud.gateway: TRACE
    reactor.netty.http.client: DEBUG


# Client Id
keycloak.clientId: job-pkce

# Resilience4j
resilience4j:
  circuitbreaker:
    instances:
      companyCircuitBreaker:
        register-health-indicator: true
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state:
          seconds: 5
        failure-rate-threshold: 50
        sliding-window-size: 10
        sliding-window-type: count_based
        permitted-number-of-calls-in-half-open-state: 5
        minimum-number-of-calls:
      jobCircuitBreaker:
        register-health-indicator: true
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state:
          seconds: 5
        failure-rate-threshold: 50
        sliding-window-type: count_based
        sliding-window-size: 10
        minimum-number-of-calls: 5
      reviewCircuitBreaker:
        register-health-indicator: true
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state:
          seconds: 5
        failure-rate-threshold: 50
        sliding-window-type: count_based
        sliding-window-size: 10
        minimum-number-of-calls: 5
      submitCircuitBreaker:
        register-health-indicator: true
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state:
          seconds: 5
        failure-rate-threshold: 50
        sliding-window-type: count_based
        sliding-window-size: 10
        minimum-number-of-calls: 5
      userCircuitBreaker:
        register-health-indicator: true
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state:
          seconds: 5
        failure-rate-threshold: 50
        sliding-window-type: count_based
        sliding-window-size: 10
        minimum-number-of-calls: 5