spring:
  # Postgres
  datasource:
    driver-class-name: ${DB_DRIVER}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: ${URL}/job

  rabbitmq:
    host: localhost
    username: guest
    password: guest
    port: 5672

# Flyway
  flyway:
    validate-on-migrate: true
    baseline-on-migrate: true
    enabled: true
    locations: ${FLYWAY_LOCATION}

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
      dialect: ${DB_DIALECT}

server:
  port: 8085

# Eureka
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}


#Actuator
#management:
#  endpoints:
#    web:
#      exposure:
#        include: '*'
#  endpoint:
#    health:
#      show-details: always

# Zipkin
  tracing:
     sampling:
      probability: 1.0

# Log data to file
logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-history: 7
      max-file-size: 12MB

# Resilience4j
resilience4j:
  circuitbreaker:
    instances:
      companyReviewCircuitBreaker:
        register-health-indicator: true
        failure-rate-threshold: 50
        sliding-window-type: count_based
        sliding-window-size: 10
        permitted-number-of-calls-in-half-open-state: 10
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state:
          seconds: 5
        minimum-number-of-calls: 5
  retry:
    instances:
      companyReviewRetry:
        max-attempts: 4
        wait-duration:
          seconds: 2

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
    circuit breakers:
      enabled: true
    retries:
      enabled: true
    prometheus:
      access: unrestricted
    metrics:
      access: unrestricted
