spring:
  datasource:
    url: ${URL}/users
    driver-class-name: ${DB_DRIVER}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: ${DB_DIALECT}

  rabbitmq:
    host: localhost
    username: guest
    password: guest
    port: 5672

# Flyway
  flyway:
    validate-on-migrate: true
    baseline-on-migrate: true
    enabled: true
    locations: ${FLYWAY_LOCATION}

server:
  port: 8084

# Keycloak
keycloak:
  username: marco.rossi
  password: marco
  server_url: http://localhost:8080
  realm: job-app
  clientId: admin-cli
  clientUUId: b0ef6e4e-c119-4f72-b151-086b650360b0



# Eureka
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}


#Actuator
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
    prometheus:
      access: unrestricted
    metrics:
      access: unrestricted
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
    enabled: true

# Zipkin
  tracing:
    sampling:
      probability: 1.0

# Log data to file
logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-history: 7
      max-file-size: 12MB
