spring:
  application:
    name: eureka

eureka:
  client:
    fetch-registry: false
    register-with-eureka: false


server:
  port: 8761

logging:
  level:
    org.springframework.cloud.netflix.eureka: DEBUG

