spring:
  application:
    name: configserver
  profiles:
    active: docker

  cloud:
    config:
      server:
        native:
          search-locations: file:///C:/Users/kyeiw/Downloads/JobListingApp/configserver/src/main/resources/config


  rabbitmq:
    host: localhost
    username: guest
    password: guest
    port: 5672

server:
  port: 8888

logging:
  level:
    org.springframework.cloud.config.server: DEBUG


# Eureka
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}

management:
  endpoints:
    web:
      exposure:
        include: '*'








